# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Virtual Environment
.env
src/secrets/
venv/
env/

# IDE-specific files (example for PyCharm)
.idea/

# Claude-related files
.claude/

# Operating System files
.DS_Store
Thumbs.db

# Other common files
.coverage
.tox/
.eggs/

mission.txt
todo
